<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- admin urls -->
	<servlet>
		<servlet-name>syndicateUrl</servlet-name>
		<servlet-class>com.swradioafrica.servlets.SyndicateUrlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>syndicateUrl</servlet-name>
		<url-pattern>/syndicateurl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>performSyndication</servlet-name>
		<servlet-class>com.swradioafrica.servlets.PerformSyndicationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>performSyndication</servlet-name>
		<url-pattern>/performsyndication</url-pattern>
	</servlet-mapping>
	
	<!-- public urls -->
	<servlet>
		<servlet-name>serveRss</servlet-name>
		<servlet-class>com.swradioafrica.servlets.ServeRssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serveRss</servlet-name>
		<url-pattern>/rss</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
